REACT_APP_API_URL=http://localhost:3001
REACT_APP_CHAIN_ID=1337
REACT_APP_RPC_URL=http://127.0.0.1:8545
REACT_APP_LENDING_POOL_ADDRESS=
REACT_APP_LOAN_MANAGER_ADDRESS=
REACT_APP_INTEREST_CALCULATOR_ADDRESS=
REACT_APP_AWS_REGION=us-east-1
REACT_APP_COGNITO_USER_POOL_ID=
REACT_APP_COGNITO_CLIENT_ID=
REACT_APP_S3_BUCKET=
